---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to FarrosFR's Blog</h1>
			<p>
				Hello and welcome! I'm Farros, and this is my personal corner of the internet. Here, I explore and share my passion for a few key areas:
			</p>
			<ul>
				<li><strong>Cyber Security:</strong> Dive deep into my latest security findings, vulnerability write-ups, and thoughts on the ever-evolving digital threat landscape.</li>
				<li><strong>Web Development:</strong> Follow my journey in building fast, secure, and scalable websites using the Jamstack architecture.</li>
				<li><strong>Anti-Usury Finance:</strong> Explore the principles of finance free from usury (Riba), promoting ethical and equitable economic systems.</li>
			</ul>
			<p>
				Whether you're a fellow enthusiast or just curious, I hope you find something valuable and thought-provoking here.
			</p>
		</main>
		<Footer />
	</body>
</html>
